{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{#    {{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <input type="text" name="PlainPassword" placeholder="Password" required>#}
{#    <button type="submit" class="btn"></button>#}
{#    {{ form_end(form) }}#}

    <div class="popup-overlay-username">
        <div class="popup-modal-username">
            {{ form_start(form) }}
                    <div class="">
                        {{ form_widget(form.PlainPassword, {'attr': {'placeholder': 'Password', 'value': ''},'label':false}) }}
                        {{ form_widget(form.username, {'attr': {'placeholder': 'New username', 'value': ''},'label':false}) }}
                        <button type="submit" class=" login-btn">Change</button>
                    </div>
            {{ form_end(form) }}
            <button class="btn-primary " id="close-modal-username">Close</button>
        </div>
    </div>
    <div class="popup-overlay-email">
        <div class="popup-modal-email">
            {{ form_start(formemail) }}
            <div>
                {{ form_widget(formemail.PlainPassword, {'attr': {'placeholder': 'Password', 'value': ''},'label':false}) }}
                {{ form_widget(formemail.email, {'attr': {'placeholder': 'New email', 'value': ''},'label':false}) }}
                <button type="submit" class=" login-btn">Change</button>
            </div>
            {{ form_end(formemail) }}
            <button class="btn-primary" id="close-modal-email">Close</button>
        </div>
    </div>
    <div class="popup-overlay-password">
        <div class="popup-modal-password">
            {{ form_start(formpassword) }}
            <div>
                {{ form_widget(formpassword.PlainPassword, {'attr': {'placeholder': 'Old Password', 'value': ''},'label':false}) }}
                {{ form_widget(formpassword.newpassword.first, {'attr': {'placeholder': 'New Password', 'value': ''},'label':false}) }}
                {{ form_widget(formpassword.newpassword.second, {'attr': {'placeholder': 'Confirm Password', 'value': ''},'label':false}) }}
                <button type="submit" class=" login-btn">Change</button>
            </div>
            {{ form_end(formpassword) }}
            <button class="btn-primary" id="close-modal-password">Close</button>
        </div>
    </div>

    <div class="contact-area bg-color-2 area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline ">
                        <h3>Profile Settings</h3>
                    </div>
                </div>
            </div>
            <div style="width: 50%;">
                <div style="">
                    <div class="flex-box">
                        <div>
                            <h5>Username: </h5> <p>{{ user.username }}</p>
                        </div>
                        <div class="">
                            <button id="show-modal-username" class="overview-btn">Modify</button>
                        </div>
                    </div>
                    <div class="flex-box">
                        <div>
                            <h5>Email: </h5> <p>{{ user.email }}</p>
                        </div>
                        <div class="">
                            <button id="show-modal-email" class="overview-btn">Modify</button>
                        </div>
                    </div>
                    <div class="flex-box">
                        <div style="">
                            <h5>Password: </h5>
                            <p>Change current password</p>
                        </div>
                        <div class="">
                            <button id="show-modal-password" class="overview-btn">Modify</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
