{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="contact-area bg-color-2 area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline ">
                        <h3>{{ user.username }}'s Profile</h3>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h5>Username: </h5> <p>{{ user.username }}</p>
                    <h5>Email: </h5> <p>{{ user.email }}</p>
                    <h5>Rank: </h5> <p>{{ user.rank }}</p>
                </div>
                <div>
                    <a class="overview-btn" href="{{ path('app_user_edit', {'id': user.id}) }}">Parameters</a>
                </div>
            </div>

        </div>
    </div>
    <!-- End Contact area -->




{#    <h1>User</h1>#}

{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ user.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Username</th>#}
{#                <td>{{ user.username }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Roles</th>#}
{#                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Password</th>#}
{#                <td>{{ user.password }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Email</th>#}
{#                <td>{{ user.email }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Rank</th>#}
{#                <td>{{ user.rank }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('app_user_index') }}">back to list</a>#}

{#    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>#}

{#    {{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
